.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background-color: #d1ec66;
  color: rgb(255, 255, 255);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  font-weight: bold;
  font-size: 35px;
  margin-right: 10px;
  color: rgb(0, 0, 0);
}

.nav-links {
  display: flex;
  align-items: center;
  margin-left: auto; /* Move the links to the right */
}

.nav-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 25px;
  margin: 0 15px;
}
.nav-link:hover{
  color: #4CAF50;
}


